@model List<ExpenseModel>;


<a href="/Home/NewExpense" class="btn btn-outline-dark my-3">New Expense</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Money Spent</th>
            <th scope="col">Spent Date</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.ExpenseId</th>
                <td>@item.Title</td>
                <td>@item.MoneySpent</td>
                <td>@item.SpentDate</td>
                <td>@item.Category</td>
                <td>
                    <a class="btn btn-outline-warning" href="/Home/EditExpense?id=@item.ExpenseId">Edit</a>
                    <a class="btn btn-outline-danger" href="/Home/DeleteExpense?id=@item.ExpenseId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>