@model List<ExpenseModel>;

@{
    ViewData["Title"] = "Expenses";
}

@foreach (var item in Model)
{
    <h3>Expense Id: @item.ExpenseId</h3>    
    <h3>Title: @item.Title</h3>
    <h3>Money Spent: @item.MoneySpent</h3>
    <h3>Expense Date: @item.SpentDate</h3>
    <h3>Category: @item.Category</h3>
    <hr />
}