@model List<ExpenseModel>;

@{
    ViewData["Title"] = "Expenses";
    var success = TempData["success"];
    var error = TempData["error"];
}

@if (success is not null)
{
    <div class="alert alert-success" role="alert">
        @success
    </div>    
}

@if (error is not null)
{
    <div class="alert alert-danger" role="alert">
        @error
    </div>    
}

<a href="/Home/NewExpense" class="btn btn-outline-dark my-3">New Expense</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Money Spent</th>
            <th scope="col">Spent Date</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.ExpenseId</th>
                <td>@item.Title</td>
                <td>@item.MoneySpent</td>
                <td>@item.SpentDate</td>
                <td>@item.Category</td>
            </tr>
        }
    </tbody>
</table>