@model List<ExpenseModel>;

@{
    ViewData["Title"] = "Expenses";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Money Spent</th>
            <th scope="col">Spent Date</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.ExpenseId</th>
                <td>@item.Title</td>
                <td>@item.MoneySpent</td>
                <td>@item.SpentDate</td>
                <td>@item.Category</td>
            </tr>
        }
    </tbody>
</table>